<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Your IP {{ data.ip }}</title>
</head>
<body>
  <div class="container">
    <div class="text-center">
    <h2>{{ data.ip }}</h2>

    <div class="table-responsive-sm">
    <table class="table table-dark">
      <caption>Connection details</caption>
      <tbody>
        {% for key, value in data %}
        <tr>
          <th scope="row">{{ key }}</th>
          <td>{{ value }}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
  </div>
  <footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Source code <a href="https://gitlab.com/agustinhenze/theip-me/">here</a>, contributions are welcomed!.</span>
  </div>
</footer>
</body>
</html>
